# Operating System files
.DS_Store
Thumbs.db

# Editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dependency directories
node_modules/
vendor/

# Build files
build/
dist/

# Logs
logs/
*.log
npm-debug.log*

# WordPress specific
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
